body {
    font-family: 'Segoe UI', sans-serif;
    background: #3ff1ef;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.clock {
    text-align: center;
    background: #f7dc6f;
    padding: 40px;
    width: 26%;
    height: 370px;
    border-radius: 100%;
    border: 3px solid #2b2b2a;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

h1{
    margin: 0;
    color: #17202a ;
    margin-top: 10%;
}

h2{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #2b2b2a;
    width: 80%;
    height: 100px;
    border: 3px solid #2b2b2a ;
    border-radius: 10px;
    font-size: 70px;
    font-weight: 600;
    margin: auto;
    margin-top: 10%;
    margin-bottom: 10px;

} 

.one{
    color: #04668D;
}

.two{
    color: #00BCF2;
}

.three{
    color: #BAD80A;
}

button {
    color: aliceblue;
    border: none;
    padding: 5px 10px;
    font-size: 1.5rem;
    cursor: pointer;
    margin: 20px 10px;
    border-radius: 8px;
}

.green{
    background-color: #196f3d ;
}
.green:hover {
    background: #52be80;
}

.red{
    background-color: #c0392b ;
}
.red:hover {
    background: #d98880;
}

.blue{
    background-color: #21a1f1 ;
    margin-top: 10px;
}
.blue:hover {
    background: #85c1e9 ;
}
