.navbar-header
{
    color: #8f4d7f;
    font-weight:bolder;
    font-size: 50px;
}
.nav-link{
    color:rgb(98, 99, 99);
    font-size: 20px;
}
.carousel-item{
    height: 500px;
}
body{
    font-family: 'Times New Roman', Times, serif;
}
.img-responsive{
    margin-top: 20px;
    margin-left: 20px;
    padding: 0px;
}
.top{
    padding-top: 50px;
    padding-left: 0px;
}
.header{
    font-weight: bolder;
    font-size: 50px;
    color:  #0866ff;
}
p{
    font-weight: 500;
}
.size{
    font-weight: 500;
    font-size: 20px;
}
.btn1
{
    border-radius: 50px;
    padding:15px 55px;
    font-size:20px;
    margin-top: 10px;
    border: none;
}
.head{
    color: #f2550d;
    font-weight: bolder;
    font-size: 50px;
}
.item{

    font-weight: bolder;
}
.word{
    padding: 0px 5px;
}
.fa-hotel{
    font-size: 45px;
    color: #da9eda;
}
.col-4{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
